<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body th:object="${errorMessage}">
    <label for="statusCode">Status Code</label>
    <span th:text="${errorMessage.statusCode}"></span>
    <br>
    <label for="statusCode">Timestamp</label>
    <span th:text="${errorMessage.timeStamp}"></span>
    <br>
    <label for="statusCode">Message</label>
    <span th:text="${errorMessage.message}"></span>
    <br>
    <label for="statusCode">Description</label>
    <span th:text="${errorMessage.description}"></span>
    <br>
</body>

</html>